@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

// Colors
$black: #000;
$dark-gray: #7D7D7D;
$light-gray: #E5E5E5;
$snow: #F3F3F3;
$white: #FFF;
