<div class="column-sizer"></div>
<div class="gutter-sizer"></div>
<a [routerLink]="painting.link" class="masonry-item" *ngFor="let painting of paintings; index as i">
  <figure>
    <img [ngSrc]="painting.imgName" ngSrcset="1x, 2x, 3x" [width]="WIDTH"
        [height]="painting.computeHeight(WIDTH)" [priority]="i < 2" alt>
    <figcaption class="painting-caption">
      <span class="title">{{ painting.title | hyphen }}</span>
      <span class="artist">{{ painting.artist }}</span>
    </figcaption>
  </figure>
  <div class="overlay"></div>
</a>
