@use 'index' as *;

:host {
  display: block;
  margin: 0 auto;
}

.masonry-item {
  height: auto;
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 24px;
  }
}

.masonry-item,
.column-sizer {
  width: 324px;
}

.gutter-sizer {
  width: 40px;
}
