@use 'index' as *;

:host {
  display: block;
}

.link {
  outline-offset: 12px;
  border-radius: 50%;

  @include mobile {
    outline-offset: 8px;
  }

  transition: opacity .2s ease;

  &.disabled {
    opacity: .15;
    cursor: not-allowed;
  }

  &:hover:not(.disabled) {
    opacity: .5;
  }
}

svg {
  $width: 26px;
  $height: 24px;

  width: $width;
  height: $height;

  @include mobile {
    width: calc($width * 2 / 3);
    height: calc($height * 2 / 3);
  }

  &.left {
    transform: rotate(.5turn);
  }
}
