@use 'index' as *;

:host {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;

  @include mobile {
    padding: 16px 24px;
  }
}

.progress {
  $fill-color: $black;
  $background-color: $light-gray;

  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;

  // Gecko
  background-color: $background-color;

  &::-moz-progress-bar {
    background-color: $fill-color;
  }

  // Blink, WebKit
  &::-webkit-progress-bar {
    background-color: $background-color;
  }

  &::-webkit-progress-value {
    background-color: $fill-color;
  }
}

.painting-info {
  color: $black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 18px;

  @include mobile {
    font-size: 14px;
  }
}

.artist {
  opacity: 0.75;
  font-size: 13px;

  @include mobile {
    font-size: 10px;
  }
}

.media-buttons {
  display: flex;
  gap: 39px;

  @include mobile {
    gap: 22.33px;
  }
}
