@use 'index' as *;

:host {
  display: block;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }

  @include tablet {
    padding: 40px 40px 52px;
  }

  @include desktop {
    padding: 100px 40px 128px;
  }
}

.img-mobile {
  height: 280px;
  width: min(100%, 328px);
  object-fit: cover;
}
