@use 'index' as *;

:host {
  display: block;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }

  @include tablet {
    padding: 40px 40px 52px;
  }

  @include desktop {
    padding: 100px 40px 128px;
  }
}

.img-mobile {
  height: 280px;
  width: min(100%, 328px);
  object-fit: cover;
}

.description {
  width: min(100%, 328px);
  margin-top: 172px;

  // Typography
  color: $dark-gray;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;

  @include tablet {
    margin: 140px 0 0 116px;
    width: 456px;
  }

  @include desktop {
    position: absolute;
    top: 216px;
    left: 884px;
    margin: 0;
    width: 350px;
  }
}
